.idea
cache.properties
.vagrant
/web/bundles/
/app/bootstrap.php.cache
/app/build
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
