{#<html>
    <head>
    <title>Widget</title>
    <script>
        window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"><\/script>')
        window.Highcharts || document.write('<script src="http://code.highcharts.com/highcharts.js"><\/script><script src="http://code.highcharts.com/modules/exporting.js"><\/script>')
    </script>
    </head>
    <body>
    {% block body %}
    None.
    {% endblock %}
    </body>
</html>
#}

$("#{{ block('append_id') }}").append($.parseHTML("{{ block('widget_html')|replace({'"': '\\"', '\n': '\\n'})|raw }}"));

{% block additional_javascript %}
{% endblock %}