<!DOCTYPE html>
<html>
    <head>
        <title>Statistik für {{ node.nodeName }}</title>
        <script type="text/javascript" src="{{ path('widget_js') }}"></script>
    </head>
    <body>
        <div data-freifunk-widget="clients" data-freifunk-names="{{ node.nodeName }}"></div>
    </body>
</html>
